<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="\static\css\index.css">
</head>

<body>
<br>
<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Компания</h1>

            </div>
            <div class="col">
                <nav>
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">О нас</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Главная</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

    <section id="contacts">
        <div class="container">
            <h2>Контакты</h2>
            <p>Свяжитесь с нами:</p>
            <ul>
                <li>Телефон: [88003553555]</li>
                <li>Email: [Pochta@pochta.pochta]</li>
            </ul>
        </div>
    </section>
</html>
